<section class="thirteen columns">
    <h1>Academics And Achievment</h1>
    <article>
        <header>
            <h1>GRADUATION</h1>
            <span><address>YMCA University of Science and Technology,HR</address><time>2013 to 2017</time></span>
        </header>
        <p>Performed Well in Studies with CGPA<strong>8.49</strong> and also worked as <strong>Secretary</strong> of fine arts club SRIJAN. </p>
    </article>
    <article>
        <header>
            <h1>SENIOR SECONDARY</h1>
            <span><address>JAWAHAR NAVODAYA VIDYALAYA,BUNDI</address><time>2011 to 2012</time></span>
        </header>
        <p> with percentage <strong>81.2</strong></p>
    </article>
    <article>
        <header>
            <h1>HIGHER SECONDARY</h1>
            <span><address>JAWAHAR NAVODAYA VIDYALAYA,PANIPAT</address><time>2009 to 2010</time></span>
        </header>
        <p>with cgpa of <strong>9.2</strong> </p>
    </article>
   
</section>
