<section class="thirteen columns">
    <h1>EMPLOYMENT</h1>
    <article>
        <header>
            <h1></h1>
            <span>TATA CONSULTANCY SERVICES</span>
            <span><address>BANGALORE</address><time> Oct,2017 to CURRENT</time></span>
        </header>
        <p>
            <em>ORACLE RETAIL ERP</em><br>
            It is a big UK based Retail Project where Oracle Retail Suite is being implemented to provide a seamless customer experience for shoppers,<br>
            regardless of when, where and how they purchase products. I am working as an application developer. 
        </p>
    </article>
    <article>
          <header>
            <h1></h1>
            <span>TATA CONSULTANCY SERVICES</span>
            <span><address>NOIDA</address><time>JAN, 2017 to Jul, 2017</time></span>
        </header>
        <p>
            <em>ESCIMS</em><br>
            Excise Supply Chain Information Management System (ESCIMS) that uses high-precision 2D barcodes to uniquely tag and track all stock units across<br>
            the supply chain in real-time. 
        </p>
    </article>
</section>
