<section class="thirteen columns">
    <h1>EMPLOYMENT</h1>
    <article>
        <header>
            <h1></h1>
            <span>AXTRIA INDIA PVT LTD.</span>
            <span><address>GURGAON</address><time>Apr,2019 to CURRENT</time></span>
        </header>
        <p>
            <em>DATA ANALYST</em><br>
            We help pharma client to increase their revenue using our insights. Currently working as Data Analyst.
        </p>
    </article>
    <article>
        <header>
            <h1></h1>
            <span>TATA CONSULTANCY SERVICES</span>
            <span><address>BANGALORE</address><time> Oct,2017 to Apr,2019</time></span>
        </header>
        <p>
            <em>ORACLE RETAIL ERP</em><br>
            It is a big UK based Retail Project where Oracle Retail Suite is being implemented to provide a seamless customer experience for shoppers,
            regardless of when, where and how they purchase products. I was working as an application developer. I solely responsible for developing 
            the BI Publisher reports, Schedule mailing alert, developing Oracle Forms for RMS Application, Customising the RPM using PLSQL code. I have 
            implemented asynchronous processing in RMS that helped customer to navigate on the screen while processing do another tasks.
        </p>
    </article>
    <article>
          <header>
            <h1></h1>
            <span>TATA CONSULTANCY SERVICES</span>
            <span><address>NOIDA</address><time>JAN, 2017 to Jul, 2017</time></span>
        </header>
        <p>
            <em>ESCIMS</em><br>
            Excise Supply Chain Information Management System (ESCIMS) that uses high-precision 2D barcodes to uniquely tag and track all stock units across
            the supply chain in real-time.I worked as automation script developer using java and selenium. 
        </p>
    </article>
</section>
