<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Coordinator at Luminous seminar organised under UNESCO</h1>
            <span><address>YMCA University of Science and Technology,HR</address><time>Jan,2016</time></span>
        </header>
        <p>
            Coordinated the organisation of various literary and art events under Luminous seminar
        </p>
    </article>
    <article>
        <header>
            <h1>Student Volunteer at SCIENCE CONCLAVE</h1>
            <span><address>YMCA University of Science and Technology</address><time>2014</time></span>
        </header>
        <p>
            Successfully cordinated in Science Conclave for varoius activities under HAS
        </p>
    </article>
</section>
