<section class="thirteen columns">
    <h1>PROJECT</h1>
    <article>
        <header>
            <h1></h1>
            <span>YMCA University of Science and Technology</span>
            <span><address>Faridabad, HR.</address><time>2013 to 2017</time></span>
        </header>
        <p>
            <em>WEB CRAWLER</em><time> Nov,2016</time><br>
            It is a simple crawler by using mysql and java to crawl a perticular domain for all keyword that is entred by user.

        </p>
    </article>
    <article>
      
</section>
